{% extends "layout.html" %}

{% block content %}
<div class="ui container" style="margin-top: 65px">
    <div class="ui centered cards">
        <div class="card">
            <div class="image">
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/00421038327085.575dee7550af6.jpg">
            </div>
            <div class="content">
                <a class="header">Plunc</a>
                <div class="description">
                   https://www.behance.net/royalstudio
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="rupee icon"></i>
                    999.99
                </a>
            </div>
            <div class="submitbtn ui bottom blue attached button" data-name="Plunc Magazine;999.99">
                <i class="add icon"></i>
                Add to Cart
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b65e4d18714437.563580c7a56bf.png">
            </div>
            <div class="content">
                <a class="header">Daniel Foreo</a>
                <div class="meta">
                    <span class="date">Floral</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="rupee icon"></i>
                    1299.99
                </a>
            </div>
            <div class="submitbtn ui bottom blue attached button" data-name="Floral Pattern;1299.99">
                <i class="add icon"></i>
                Add to Cart
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/5b4a5b23468357.56bbd78202ecc.png">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                   is an art director living in New York.
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="rupee icon"></i>
                    3999.99
                </a>
            </div>
            <div class="submitbtn ui bottom blue attached button" data-name="Typeface;3999.99">
                <i class="add icon"></i>
                Add to Cart
            </div>
        </div>

        <div class="card">
            <div class="image">
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/32060d41459525.57a7422d6ae47.jpg">
            </div>
            <div class="content">
                <a class="header">Kristy</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                   is an art director living in New York.
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="rupee icon"></i>
                    1199.99
                </a>
            </div>
            <div class="submitbtn ui bottom blue attached button" data-name="Music Art;1199.99">
                <i class="add icon"></i>
                Add to Cart
            </div>
        </div>
    </div>
</div>
{% endblock %}
