<!DOCTYPE html>
<html>
<head>
  {% include 'header.html' %}
</head>

<body>
  {% include 'nav.html' %}

  {% block content %}{% endblock %}
</body>
<div class="ui modal" id="payment-page">
	<div class="content">
		<div id="orderSummary" class="ui two column very relaxed grid" data-tab="order-summary">
			<div class="column">
				<table class="ui two column very basic table">
					<thead>
						<tr>
							<th>Item</th>
							<th>Amount</th>
						</tr>
					</thead>
					<tbody id="items">
					</tbody>
				</table>
			</div>
			<div class="ui hidden vertical divider"></div>
			<div class="column">
				<form class="ui form" id="card_form">
					<input type="hidden" class="payment_method_type" value="CARD" />
					<input type="hidden" class="merchant_id" value="sriduth_sandbox_test" />
					<input type="hidden" class="redirect" value="false" />

					<div class="field">
						<label>Card Number</label>
						<input required type="text" class="card_number" name="first-name" placeholder="First Name">
					</div>
					<div class="field">
						<label>Name on Card</label>
						<input required class="name_on_card" type="text" name="last-name" placeholder="Last Name">
					</div>
					<div class="two fields">
						<div class="field">
							<label>Expiry Month</label>
							<input required class="card_exp_month" type="number" name="">
						</div>
						<div class="field">
							<label>Expiry Year</label>
							<input required class="card_exp_year" type="number" name="">
						</div>
					</div>
					<div class="field">
						<label>CVV</label>
						<input required type="number" class="card_security_code" name="">
					</div>
					<div class="field">
						<div class="ui checkbox">
							<input type="checkbox" class="save_card_to_locker" tabindex="0" class="hidden">
							<label>Save card for faster checkout</label>
						</div>
					</div>
					<button class="ui fluid loading button" disabled="true" id="makePaymentButton" type="button">Make Payment</button>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var cart = $('#cart');
	var cartItems = [];

	cart.click(function () {
		var itemsHolder = $('#items');
		var amount = 0;

		itemsHolder.html('');
		
		for(var i in cartItems) {
			var item = cartItems[i].split(';');
			itemsHolder.append($('<tr><td>'+ item[0] +'</td><td>' +item[1]+ '</td></tr>'));
			amount += parseFloat(item[1]);
		}

		$('#payment-page').modal('show');
		$.post('/order/create', {
			amount: amount
		}).done(function (res) {
			res = JSON.parse(res);
			if(res.body.status === 'CREATED') {
				$('#makePaymentButton')
					.removeClass('loading')
					.addClass('green')
					.prop('disabled', false);

				$('#card_form')
					.append($('<input type="hidden" class="order_id" value="'+res.body.order_id+'"/>'));

				var jp = Juspay.Setup({
					payment_form: '#card_form',
					type: 'inline',
					success_handler: function () {

					},
					error_handler: function () {

					}
				});

				$('#makePaymentButton').click(function () {
					jp.submit_form();
				});	
			}
		}).fail(function () {
			$('#makePaymentButton')
				.removeClass('green')
				.removeClass('loading')
				.addClass('red')
				.html('Failed to create Order');
		})
	});

	$('.submitbtn').click(function (target) {
		var details = $(target.currentTarget)
			.removeClass('blue')
			.addClass('green')
			.html('Added to Cart')
			.data('name');

		if(cartItems.indexOf(details) == -1) {
			cartItems.push(details);
		}

        cart.addClass('green');
        cart.popup({content: 'Item added to cart!'});
        cart.popup('show');

        setTimeout(function () {
        	cart.popup('hide');
        	cart.popup('destroy');
        }, 1500);
	});
</script>
</html>
